.expense-button{
    background-color: #9f88e6;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 900px;
    color: black;
    padding: 2rem 0;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense-button button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: #3b0251;
    color: white;
}

